/*VARIABLES*/

/*GLOBAL*/
h1, h2, h3, h4, h5, h6 {
	color: inherit;
	line-height: 1.4;
	padding-bottom: 20px;
	margin: 0;
}

p {
	margin-bottom: 0;
	& + p {
	margin-top: 20px;
	}
}
 
 %button {
	display: inline-block;
	font-size: inherit;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: 0;
	padding: .6em 1.5em;
	margin: 10px 0;
	transition: all .3s ease-in;
 }

.btn, .button, input[type=button], input[type=submit] {
	@extend %button;
	color: $primary-color;
	border: 1px solid $primary-color;
	body & {
		background: transparent;
	}
	&:hover {
		color: #fff;
		body & {
			background: $primary-color;
		}
	}
}
input[type=reset] {
	@extend %button;
	color: $primary-color;
	border: 1px solid $primary-color;
}

@mixin d-flex($align, $justify) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
}

@mixin img-blk-cover($ratio) {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: $ratio;
	img {
		position: absolute;
		top: -99px;
		right: -99px;
		bottom: -99px;
		left: -99px;
		margin: auto;
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;
		max-width: 150%;
		max-height: 150%;
	}
}

/*HEADER*/

/*CUSTOMIZED STYLE*/

/*ADDITIONAL STYLE*/
.dark-overlay {
	position: relative;
	overflow: hidden;
	
	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.4);
	}
	
	& > * {
		position: relative;
		z-index: 3;
	}
}
.light-overlay {
	@extend .dark-overlay;
	
	&:before {
		background: rgba(255,255,255,0.7);
	}
}

.lsow-dark-bg {
	color: #eee;
	.lsow-dark-bg p {
		color: #eee;
	}
	h1, h2, h3, h4, h5, h6, a, b, strong {
		color: #fff;
	}
}

.title-center .widget-title {
	text-align: center;
}

.img-blk-cover {
	@include img-blk-cover(67%);
}
.img-blk-contain {
	@include img-blk-cover(67%);
	img {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		min-width: 67%;
		min-height: 67%;
		max-width: 100%;
		max-height: 100%;
	}
}
